<br/>

<!-- Main content -->
<!-- <section class="content"> -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
          <div class="box-header">
              <h3 class="box-title">Buzón</h3>
              <!-- &nbsp;<a class="btn-link" style="position:absolute;z-index: 1" *ngIf="service.getLevel(service.getUser().acceso) > 1" (click)="fillModal('add',{})" data-toggle="modal" data-target="#modal-default"> crear orden</a> -->
              <br/>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 25%; float:right; z-index: 2">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" [(ngModel)]="search">
        
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th>No. Secuencia</th>
              <th>Tipo Solicitud</th>
              <th>Tipo Servicio</th>
              <th>Titulo</th>
              <th>Estado</th>
              <th class="text-center"><i class="fa fa-fw fa-list-alt"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of tickets | filter: search">
              <td>{{ item.noSecuencia }}</td>
              <td>{{ item.tipoSolicitud }}</td>
              <td>{{ item.tipoServicio }}</td>
              <td>{{ item.titulo }}</td>
              <td>{{ item.estado }}</td>
              <td >
                <a class="btn-link" (click)="fillModal('edit',item)" *ngIf="service.getLevel(service.getUser().acceso) > 0" data-toggle="modal" data-target="#modal-default"><i class="fa fa-fw fa-edit"></i></a>
                <!-- <a class="btn-link" (click)="fillModal('delete',item);delete()" *ngIf="service.getLevel(service.getUser().acceso) > 2"><i class="fa fa-fw fa-toggle-on" [hidden]="!item.habilitado"></i><i class="fa fa-fw fa-toggle-off" [hidden]="item.habilitado"></i></a> -->
              </td>
            </tr>
            </tbody>
            <!-- <tfoot>
            <tr>
              <th>Rendering engine</th>
              <th>Browser</th>
              <th>Platform(s)</th>
              <th>Engine version</th>
              <th>CSS grade</th>
            </tr>
            </tfoot> -->
          </table>
        </div>
        <!-- /.box-body -->
        <div class="overlay" [hidden]="!service.isLoading">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
      <!-- /.box -->


    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
<!-- </section> -->
<!-- /.content -->

<!-- Modals -->
<div class="modal fade" id="modal-default" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='getTickets(service.getUser().id,"unique")'>
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ticket No.<u>{{ ticket.noSecuencia }}</u></h4>
        <!-- <h4 class="modal-title" *ngIf="option=='add'"><b>Nuevo Cliente</b></h4>
        <h4 class="modal-title" *ngIf="option=='edit'"><b>Cliente</b></h4>
        <h4 class="modal-title" *ngIf="option=='delete'"><b>Seguro que desea deshabilitar este Cliente?</b></h4> -->
      </div>
      <div class="modal-body">
        
        <!---->
        <div class="col-md-12">
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li id="li_activity" class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
                <li id="li_timeline" *ngIf="option !=='add'"><a href="#timeline" data-toggle="tab">Timeline</a></li>
                <!-- <li id="li_settings" *ngIf="option !=='add'"><a href="#settings" data-toggle="tab">Settings</a></li> -->
              </ul>
              <div class="tab-content">
                <div class="active tab-pane" id="activity">
                  <!-- activity -->
                  <div class="row">
                    <div class="form-group col-xs-6 col-sm-6">
                      <label>Titulo:</label>
                      <input type="text" class="form-control" placeholder="Titulo" [(ngModel)]="ticket.titulo" [disabled]="option!='add'"/>
                    </div>
                    <div class="form-group col-xs-3 col-sm-3">
                      <label>Tipo de Solicitud:</label>
                      <select class="form-control" [(ngModel)]="ticket.tipoSolicitud" [disabled]="option!='add'" (change)="clearDevicesIf()">
                        <option value="" selected [hidden]="ticket.tipoSolicitud!=''">Tipo Solicitud</option>
                        <option value="{{type.value}}" *ngFor="let type of service.getTypeOfRequests()">{{ type.value }}</option>
                      </select>
                    </div>
                    <div class="form-group col-xs-3 col-sm-3">
                      <label>Tipo de Servicio:</label>
                      <select class="form-control" [(ngModel)]="ticket.tipoServicio" [disabled]="option!='add'">
                        <option value="" selected [hidden]="ticket.tipoServicio!=''">Tipo Servicio</option>
                        <option value="{{type.value}}" *ngFor="let type of service.getTypeOfServices()">{{ type.value }}</option>
                      </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12">
                      <div class="form-group col-xs-2 col-sm-2">
                        <label>Creado:</label>
                        <div class="input-group">
                          <span *ngIf="ticket.fechaCreacion==null">dd/mm/aaaaa</span>
                          <span *ngIf="ticket.fechaCreacion!=null">{{ ticket.fechaCreacion | date:'dd/MM/yyyy' }}</span>
                        </div>
                      </div>
                      <div class="form-group col-xs-3 col-sm-3">
                        <label>Fecha inicio:</label>
                        <div class="input-group">
                          <input type="date" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="form-group col-xs-2 col-sm-2">
                        <label>Hora inicio:</label>
                        <div class="input-group">
                          <input type="time" class="form-control timepicker" disabled>
                        </div>
                      </div>
                      <div class="form-group col-xs-3 col-sm-3" [hidden]="ticket.tipoSolicitud =='Servicio Taller'">
                        <label>Fecha fin:</label>
                        <div class="input-group">
                          <input type="date" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="form-group col-xs-2 col-sm-2" [hidden]="ticket.tipoSolicitud =='Servicio Taller'">
                        <label>Hora fin:</label>
                        <div class="input-group">
                          <input type="time" class="form-control timepicker" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12">
                      <h6 class="text-center">EQUIPOS</h6>
                      <div class="row">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col" class="text-center" style="width: 50%">Descripci&oacute;n</th>
                              <th scope="col" class="text-center">Marca</th>
                              <th scope="col" class="text-center">Modelo</th>
                              <th scope="col" class="text-center">Serial No.</th>
                              <th scope="col" class="text-center" [hidden]="ticket.tipoSolicitud !='Servicio a Domicilio' || devices.length >= 4"><a class="btn-link" (click)="addDevice=true;device={}" [hidden]="addDevice || devices.length >= 4"><i class="fa fa-plus"></i></a></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr [hidden]="!addDevice">
                              <td><input type="text" [(ngModel)]="device.descripcion"/></td>
                              <td><input type="text" [(ngModel)]="device.marca"/></td>
                              <td><input type="text" [(ngModel)]="device.modelo"/></td>
                              <td><input type="text" [(ngModel)]="device.noSerial"/></td>
                              <td>
                                <a class="btn-link" (click)="addDeviceOne(device)"><i class="fa fa-check"></i></a>
                                <a class="btn-link" (click)="addDevice=false;device={}"><i class="fa fa-remove"></i></a>
                              </td>
                            </tr>
                            <tr *ngFor="let e of devices">
                              <td>{{e.descripcion}}</td>
                              <td>{{e.marca}}</td>
                              <td>{{e.modelo}}</td>
                              <td>{{e.noSerial}}</td>
                              <!-- <td> -->
                                <!-- <a class="btn-link" (click)="removeDeviceList(e)"><i class="fa fa-minus"></i></a> -->
                              <!-- </td> -->
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12">
                      <textarea placeholder="Descripción" class="form-control" rows="5" [(ngModel)]="ticket.descripcion" [disabled]="option!='add'"></textarea>
                    </div>
                    <div class="form-group col-xs-3 col-sm-3">
                      <label>Estado: </label>
                      <br *ngIf="option=='add'" />
                      <span *ngIf="option=='add'">{{ ticket.estado }}</span>
                      <select class="form-control" [(ngModel)]="ticket.estado" *ngIf="option=='edit' && (ticket.idUsuario == service.getUser().id || service.getLevel(service.getUser().acceso)>1)">
                        <option value="{{status.name}}" *ngFor="let status of service.getStatuses()">{{ status.name }}</option>
                      </select>
                    </div>
                    <div class="form-group col-xs-3 col-sm-3">
                      <label>Solicitante:</label>
                      <select class="form-control" [(ngModel)]="ticket.idCliente" [disabled]="option!='add'">
                        <option value="" selected [hidden]="ticket.idCliente!=''">Seleccione</option>
                        <option value="{{costumer.id}}" *ngFor="let costumer of costumers">{{ costumer.nombre }} | "{{ costumer.rnc }}"</option>
                      </select>
                    </div>
                    <div class="form-group col-xs-3 col-sm-3">
                      <label>Técnico asignado:</label>
                      <select class="form-control" [(ngModel)]="ticket.idUsuario" [disabled]="service.getLevel(service.getUser().acceso)<2 || (option!='add' && service.getUser().id == ticket.idUsuario && service.getLevel(this.service.getUser().acceso)<3)">
                        <option value="" selected [hidden]="ticket.idUsuario!=''">Seleccione</option>
                        <option value="{{user.id}}" *ngFor="let user of users">{{ user.nombre }} | "{{ user.cuentaUsuario }}"</option>
                      </select>
                    </div>
                    <div class="form-group col-xs-3 col-sm-3">
                      <label>Aprobador por:</label>
                      <br/>
                      <span>{{ticket.aprobadoPor}}</span>
                    </div>
                  </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="timeline">
                  timeline
                </div>
                <!-- /.tab-pane -->
  
                <!-- <div class="tab-pane" id="settings">
                  settings
                </div> -->
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->

        <!---->

      </div>
      <div class="modal-footer">
          <div class="overlay" [hidden]="!service.isLoading">
              <i class="fa fa-refresh fa-spin"></i>
          </div>
          <button type="button" class="btn btn-primary"  *ngIf="option=='add'" [disabled]="addDevice" (click)="add()" ><i class="fa fa-fw fa-file-o"></i> Crear</button>
          <!-- <button type="button" class="btn btn-success"  *ngIf="option=='edit'" (click)="edit()" ><i class="fa fa-fw fa-save"></i> Guardar</button> -->
          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" *ngIf="option=='delete'" (click)="changeStatusEntidades(id)">Deshabilitar</button> -->
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)='getTickets(service.getUser().id,"unique")'>Close</button>
        <!-- <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
