
<br/>
<div class="row">
  <div class="col-xs-12">
    <p>
      <button id='prev' class="btn btn-primary">&lt;</button>
      <button id='next' class="btn btn-primary">&gt;</button>
    </p>
  </div>
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="overlay" [hidden]="!service.isLoading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="box-body no-padding">

        <!-- THE CALENDAR -->
        <div id="calendar"></div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>

<!--
  <p>
    calendar works!
  </p>

  <button (click)="showModal()" class="btn btn-primary">Launch modal</button>
  <hr/> 
-->



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
