<!-- <div class="overlay" [hidden]="!service.isLoading">
  <i class="fa fa-refresh fa-spin"></i>
</div> -->
<button class="btn btn-primary" data-toggle="modal" data-target="#modal-date">Agendar asunto</button>

<full-calendar #calendar [options]="calendarOptions"></full-calendar>

<!-- Modals List-->
<div class="modal fade" id="modal-default" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <!-- (click)="getBusiness(service.getUser().id)" -->
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>FECHA</b></h4>
      </div>
      <div class="modal-body">
        
        

      </div>
      <div class="modal-footer">
          <!-- <div class="overlay" [hidden]="!service.isLoading">
              <i class="fa fa-refresh fa-spin"></i>
          </div> -->
          <button type="button" class="btn btn-link" data-dismiss="modal" >Close</button>
          <!-- (click)="getBusiness(service.getUser().id)" -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modals -->
<div class="modal fade" id="modal-date" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <!-- (click)="getBusiness(service.getUser().id)" -->
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><b>FECHA 2</b></h4>
      </div>
      <div class="modal-body">
        
        

      </div>
      <div class="modal-footer">
          <!-- <div class="overlay" [hidden]="!service.isLoading">
              <i class="fa fa-refresh fa-spin"></i>
          </div> -->
          <button type="button" class="btn btn-link" data-dismiss="modal" >Close</button>
          <!-- (click)="getBusiness(service.getUser().id)" -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<a class="btn-link" id="buttonModalDate" hidden="hidden" data-toggle="modal" data-target="#modal-default"></a>