  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
  
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
          <div class="pull-left image">
            <img *ngIf="service.getUser() ==null || service.getUser().image ==null" src="../../../../assets/dist/img/photo_default.png" width="160px" height="160px" class="img-circle" alt="User Image">
            <img *ngIf="service.getUser() !=null && service.getUser().image !=null" [src]="'data:image/jpeg;base64,'+ service.getUser().image" width="160px" height="160px" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p *ngIf="service.getUser() !=null">{{ service.getUser().nombre.substr(0,15) }} <span *ngIf="service.getUser().nombre.length > 16 && service.getUser() !=null">...</span></p>
            <!-- Status -->
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
  
        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
          </div>
        </form>
        <!-- /.search form -->
  
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">HEADER</li>
          <!-- Optionally, you can add icons to the links -->
          <li class="active"><a [routerLink]='["/"]'><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
          <!-- <li><a  [routerLink]='["/counter"]'><i class="fa fa-link"></i> <span>Another Link</span></a></li> -->
          <li  class="treeview" *ngFor="let item of adminLteConf">
            <a href="#"><i class="{{ item.iconClasses }}"></i> <span>{{ item.label }}</span>
              <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                
              <ng-container *ngFor="let child of item.children">
              <li *ngIf="child.see" ><a [routerLink]='child.route' ><i class="{{ child.iconClasses }}"></i>{{ child.label }}</a></li>
              <!-- <li><a href="#">Link in level 2</a></li> -->
              </ng-container>
            </ul>
          </li>
        </ul>
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>