<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3 [hidden]="service.isLoading">{{ numbers.abiertos + numbers.enproceso }}</h3>
          <h3 [hidden]="!service.isLoading"><i class="fa fa-refresh fa-spin"></i></h3>
          <p>Ordenes pendientes</p>
        </div>
        <div class="icon">
          <i class="fa fa-inbox"></i>
        </div>
        <a href="#" class="small-box-footer" routerLink='/inbox'>More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>

    </div>

    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>&nbsp;</h3>

          <p>Profile</p>
        </div>
        <div class="icon">
          <i class="fa fa-user" ></i>
        </div>
        <a href="#" class="small-box-footer" routerLink='/profile'>More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
            <h3 [hidden]="service.isLoading">{{ numbers.costumers }}</h3>
            <h3 [hidden]="!service.isLoading"><i class="fa fa-refresh fa-spin"></i></h3>
  
          <p>Clientes Registrados</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer" routerLink='/costumer'>More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-xs-6" *ngIf="this.service.getLevel(this.service.getUser().acceso)>2">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>&nbsp;</h3>
  
          <p>Reportes</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer" routerLink='/report'>More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

  </div>
  
</section>
