<br/>

<!-- Main content -->
<!-- <section class="content"> -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
          <div class="box-header">
              <h3 class="box-title">Tabla de Clientes</h3>
              &nbsp;<a class="btn-link" style="position:absolute;z-index: 1" *ngIf="service.getLevel(service.getUser().acceso) > 1" (click)="fillModal('add',{})" data-toggle="modal" data-target="#modal-default"> agregar cliente</a>
              <br/>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 25%; float:right; z-index: 2">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" [(ngModel)]="search">
        
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Rnc</th>
              <th>Telefono</th>
              <th>Extension</th>
              <th>Departamento</th>
              <th class="text-center"><i class="fa fa-fw fa-list-alt"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of costumers | filter: search">
              <td>{{ item.nombre }}</td>
              <td>{{ item.rnc }}</td>
              <td>{{ item.telefono }}</td>
              <td>{{ item.extension }}</td>
              <td>{{ item.departamento }}</td>
              <td >
                <a class="btn-link" (click)="fillModal('edit',item)" *ngIf="service.getLevel(service.getUser().acceso) > 0" data-toggle="modal" data-target="#modal-default"><i class="fa fa-fw fa-edit"></i></a>
                <a class="btn-link" (click)="fillModal('delete',item);delete()" *ngIf="service.getLevel(service.getUser().acceso) > 2"><i class="fa fa-fw fa-toggle-on" *ngIf="item.habilitado"></i><i class="fa fa-fw fa-toggle-off" *ngIf="!item.habilitado"></i></a>
              </td>
            </tr>
            </tbody>
            <!-- <tfoot>
            <tr>
              <th>Rendering engine</th>
              <th>Browser</th>
              <th>Platform(s)</th>
              <th>Engine version</th>
              <th>CSS grade</th>
            </tr>
            </tfoot> -->
          </table>

        </div>
        <!-- /.box-body -->
        <div class="overlay" [hidden]="!service.isLoading">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
      <!-- /.box -->


    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
<!-- </section> -->
<!-- /.content -->

<!-- Modals -->
<div class="modal fade" id="modal-default" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='getCostumers(this.service.getUser().id,"*")' >
          <span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title">Default Modal</h4> -->
        <h4 class="modal-title" *ngIf="option=='add'"><b>Nuevo Cliente</b></h4>
        <h4 class="modal-title" *ngIf="option=='edit'"><b>Cliente</b></h4>
        <h4 class="modal-title" *ngIf="option=='delete'"><b>Seguro que desea deshabilitar este Cliente?</b></h4>
      </div>
      <div class="modal-body">
        
        <!---->
        <div class="row">

        <div class="form-group col-xs-8 col-sm-8">
          <label for="razonSocial">Nombre completo:</label>
          <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="costumer.nombre" [disabled]="option=='delete' || !(service.getLevel(service.getUser().acceso) > 1)">
        </div>
        <div class="form-group col-xs-4 col-sm-4">
          <label for="razonSocial">Rnc:</label>
          <input type="text" class="form-control" placeholder="Rnc" [(ngModel)]="costumer.rnc" [disabled]="option=='delete' || !(service.getLevel(service.getUser().acceso) > 1)">
        </div>
        <div class="form-group col-xs-5 col-sm-5">
          <label for="correo">Contacto</label>
          <input type="text" class="form-control" placeholder="Contacto" [(ngModel)]="costumer.contacto" [disabled]="option=='delete' || !(service.getLevel(service.getUser().acceso) > 1)">
        </div>
        <div class="form-group col-xs-4 col-sm-4">
          <label for="correo">Telefono</label>
          <input type="text" class="form-control" placeholder="Telefono" [(ngModel)]="costumer.telefono" [disabled]="option=='delete' || !(service.getLevel(service.getUser().acceso) > 1)">
        </div>
        <div class="form-group col-xs-3 col-sm-3">
          <label for="correo">Extension</label>
          <input type="text" class="form-control" placeholder="Extension" [(ngModel)]="costumer.extension" [disabled]="option=='delete' || !(service.getLevel(service.getUser().acceso) > 1)">
        </div>
        <div class="form-group col-xs-6 col-sm-6">
          <label for="correo">Correo Electronico</label>
          <input type="text" class="form-control" placeholder="Correo Electrónico" [(ngModel)]="costumer.correo" [disabled]="option=='delete' || !(service.getLevel(service.getUser().acceso) > 1)">
        </div>
        <div class="form-group col-xs-6 col-sm-6">
          <label for="dpt">Departamento:</label>
          <input type="text" class="form-control" placeholder="Departamento" [(ngModel)]="costumer.departamento" [disabled]="option=='delete' || !(service.getLevel(service.getUser().acceso) > 1)">
        </div>
        <div class="form-group col-xs-12 col-sm-12" *ngIf="service.getLevel(service.getUser().acceso) == 4">
          <label for="rnc">Empresa:</label>
          <select class="form-control" [(ngModel)]="costumer.idEmpresa" [disabled]="option=='delete' || !(service.getLevel(service.getUser().acceso) == 4)">
            <option value="{{empresa.id}}" *ngFor="let empresa of empresas">{{ empresa.razonSocial }}</option>
          </select>
        </div>
        <div class="form-group col-xs-12 col-sm-12">
          <label for="Direccion">Dirección</label>
          <!-- <input type="text" class="form-control" placeholder="Dirección" [(ngModel)]="costumer.direccion" [disabled]="option=='delete' || !(service.getLevel(service.getUser().acceso) > 1)"> -->
          <textarea id="Direccion" placeholder="Dirección" [(ngModel)]="costumer.direccion" class="form-control" rows="5" [disabled]="option=='delete' || !(service.getLevel(service.getUser().acceso) > 1)"></textarea>
        </div>
      </div>
      <!---->

      </div>
      <div class="modal-footer">
          <div class="overlay" [hidden]="!service.isLoading">
              <i class="fa fa-refresh fa-spin"></i>
          </div>
          <button type="button" class="btn btn-primary" data-dismiss="modal" *ngIf="option=='add'" (click)="add()" [disabled]="service.isNullorEmpty(costumer.nombre) || service.isNullorEmpty(costumer.rnc) || !(service.getLevel(service.getUser().acceso) > 1)"><i class="fa fa-fw fa-file-o"></i> Crear</button><!--[disabled]="service.isNullorEmpty(costumer.nombre) || service.isNullorEmpty(costumer.tipo) || !(service.getLevel(service.getUser().acceso) >= 1)"-->
          <button type="button" class="btn btn-success" data-dismiss="modal" *ngIf="option=='edit'" (click)="edit()" [disabled]="service.isNullorEmpty(costumer.nombre) || service.isNullorEmpty(costumer.rnc) || !(service.getLevel(service.getUser().acceso) > 1)"><i class="fa fa-fw fa-save"></i> Guardar</button><!--[disabled]="service.isNullorEmpty(costumer.nombre) || service.isNullorEmpty(costumer.tipo) || !(service.getLevel(service.getUser().acceso) >= 1)"-->
          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" *ngIf="option=='delete'" (click)="changeStatusEntidades(id)">Deshabilitar</button> -->
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)='getCostumers(service.getUser().id,"*")'>Close</button>
        <!-- <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->