<!-- <div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->


<span *ngIf="service.getUser() !=null">
    <app-header></app-header>
    <app-menu></app-menu>
    <app-content></app-content>
    <app-footer></app-footer>
    <app-setting></app-setting>
</span>
<span *ngIf="service.getUser() ==null">
    <app-login></app-login>
</span>
